.nav-link-comprar {
    color: #8ac93f;
}
.card {
    padding: 16px 12px 5px;
    border-radius: 1px;
    border: 2px solid;
}

.card1 {
    border-color:#007bff;
}
.card2 {
    border-color:#17a2b8;
}
.card3 {
    border-color:#ffc107;
}

@media (min-width: 770px) {
    .container {
        width: 660px;
    }
    .nombre,
    .cantidad,
    .reset {
        padding-right: 1px;
    }
}

.alert::placeholder,
.alert {
    color: #0040a5;
}

.btn {
    background-color: #97c93e;
    border: #97c93e;
    border-radius: 3px;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: #1d455c;
}

.footer > div > a{
    text-decoration: none;
    color: lightgray;
}
.footer > div {
    margin: 0 15px;
    text-align: center;
    width: 150px;
}

@media (max-width: 820px) {
    .footer {
        display: block;
        flex-direction: column;
        height: 240px;
    }
    .footer>div {
        margin-top: 5px;
    }
}
